<!DOCTYPE html>
<html lang="en">
<head>

    <script src='/socket.io/socket.io.js'></script> 
  
    <script>socket = io.connect('http://54.196.238.128:10000/');</script>

     
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.min.js"></script>
    <script src="https://www.promisejs.org/polyfills/promise-6.1.0.js"></script>
    
    
    <title>Coordenadas geograficas</title>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
   <link rel="stylesheet" type="text/css" href="../archivos/jquery.datetimepicker.css">
   <script src="../archivos/jquery.js"></script>
   <script src="../archivos/build/jquery.datetimepicker.full.min.js"></script>
   
    
</head>
<body onload="readFile();">
    <div class="container-css">
        <section class="header">
            <h1>Coordenadas geograficas</h1>
        </section>
        <section class="content">
            <div class="user-container">
                <form id="form" class="calendar">
                    
                    <input type="text" id="date_timepicker_start"  name="start" placeholder="Fecha de inicio" autocomplete="off">
                    
                    <input type="text" id="date_timepicker_end" class="timeEnd" name= "end" placeholder="Fecha final" autocomplete="off">
        
                    

                    <script>     
                        $("#date_timepicker_start").datetimepicker({
                            /*format:'d.m.Y H:i',*/
                            timepicker:true,
                            onShow: function (ct) {
                                this.setOptions({
                                    step: 15,
                                    maxDate: jQuery('#date_timepicker_end').val() ? jQuery('#date_timepicker_end').val() : false

                                })
                            },
                        });
                        $("#date_timepicker_end").datetimepicker({
                            /*format:'d.m.Y H:i',*/
                            timepicker:true,
                            onShow: function (ct) {
                                this.setOptions({
                                    step: 15,
                                    minDate: jQuery('#date_timepicker_start').val() ? jQuery('#date_timepicker_start').val() : false
                                })
                            },
                            
                        });    
                    </script>

               
                    <select name="vehiculo" id="carro">
                        <option value="1">Vehículo 1</option>
                        <option value="2">Vehículo 2</option>
                    </select>
                    <button type="submit" class="historicos" >Historicos</button>
                    
                </form>

                <script>
                    const form = document.getElementById('form')

                    form.addEventListener('submit', (e) => {

                        e.preventDefault();

                        puntos.clearLayers();
                        puntosTwo.clearLayers();
                        document.getElementById("mymap").style.display = "block";

                        document.getElementById("mymapTR").style.display = "none";

                        inicio = e.target.elements.date_timepicker_start.value;
                        fin = e.target.elements.date_timepicker_end.value;
                        console.log("Inicio: "+inicio+",fin: "+fin)
                        vehiculo= e.target.elements.carro.value;

                        var valoresEntrada = [];
                        valoresEntrada.push(inicio);
                        valoresEntrada.push(fin);
                        valoresEntrada.push(vehiculo);
                        
                        socket.emit("valoresEntrada", valoresEntrada);

    
                        socket.on('historia', function (output) {
    
                            hist =[];
                            histTwo=[];
                            var coor =[];
                            
                        
                            for (var i of output) {
                                console.log("variable i.v: "+i.vehiculo)
                                if(i.vehiculo==1){
                
                                    coor =[i.latitud,i.longitud]
                                    hist.push(coor)
                                    markerCircle = L.circleMarker([i.latitud,i.longitud],{radius:2, color:'white'}) //CAMBIOOSSSSSSS
                                    markerCircle.bindTooltip("</h4>tiempo: "+ i.tiempo)
                                    puntos.addLayer(markerCircle)
                                    //console.log(hist); //Repetido de linea 65 y 58
                                } else {
                                    
                                    coorTwo =[i.latitud,i.longitud]
                                    histTwo.push(coorTwo)
                                    markerCircleTwo = L.circleMarker([i.latitud,i.longitud],{radius:2, color:'black'})
                                    markerCircleTwo.bindTooltip("</h4>tiempo: "+ i.tiempo)
                                    puntosTwo.addLayer(markerCircleTwo)
                                    //console.log(histTwo); //Repetido de linea 65 y 58
                                }
                                    
                            }
                            
                            puntos.addTo(myMap)
                            puntosTwo.addTo(myMap)
                                
                            if (output.length != 0){    
                                polyline.setLatLngs(hist);
                                polylineTwo.setLatLngs(histTwo)
                                myMap.setView(polyline.getCenter())
                            } else {
                                alert("No hay recorridos dentro de las fechas ingresadas")
                                polyline.setLatLngs([]);
                                polylineTwo.setLatLngs([]);
                            }
                        });

                        

                    });
                </script>

                <div class="tiemporeal">
                    <div class="ubication">
                        <h3>Coordenadas:</h3>
                        <div class="form-container">
                            <form action="/coordenadas/">
                                <label for="Length">Longitud:</label>
                                <div id="caja-longitude"></div>
                                <label for="Latitude">Latitud:</label>
                                <div id="caja-latitude"></div>
                                <label for="Stamptime">Stamptime:</label>
                                <div id="caja-stamptime"></div>
                                <label for="ax">Ax:</label>
                                <div id="caja-sensor"></div>
                            </form>
                        </div>
                    </div>
                    <button type="submit" onclick="tiempoReal()">Tiempo real</button>
                </div>

            </div>

            
        </section>
        <div id="mymap" class="mapa" style="height: 595px;"></div>
        <div id="mymapTR" class="mapaTR" style="height: 595px;"></div>
        <!-- <footer class="footer">
            <p>2020 - Proyecto realizado para la Universidad del norte</p>
        </footer> -->

        <!--Scripts-->
        <script src="../js/jquery-3.5.1.min.js"></script>
        <!-- <script src="../js/bootstrap.min.js"></script> -->
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
       
        
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
        <script src='../js/front-end.js'></script>
        
        
    </div>
</body>
</html>
